<!-- ====== Forms Section Start -->
<section class="py-8">
    <div
        class="relative mx-auto max-w-[525px] overflow-hidden rounded-lg bg-white py-16 px-10 text-center sm:px-12 md:px-[60px] dark:bg-dark-2">
        <div class="mb-10 text-center md:mb-16">
            <a href="javascript:void(0)" class="mx-auto inline-block max-w-[160px]">
                <!-- <img src="https://cdn.tailgrids.com/2.0/image/assets/images/logo/logo-primary.svg" alt="logo" /> -->
            </a>
        </div>
        <form>
            <div class="mb-6">
                <input type="text" placeholder="Email"
                    class="w-full form-input px-4 py-3 rounded-md" />
            </div>
            <div class="mb-6">
                <input type="password" placeholder="Password"
                    class="w-full form-input px-4 py-3 rounded-md" />
            </div>
            <div class="mb-10">
                <button type="submit" class="btn-primary w-full">
                    Sign In
                </button>
            </div>
        </form>
        <p class="mb-6">
            Connect With
        </p>
        <ul class="flex justify-between mb-12 -mx-2">
            <li class="w-full px-2">
                <a href="javascript:void(0)"
                    class="flex h-11 items-center justify-center rounded-md bg-[#4064AC] hover:bg-opacity-90">
                    <svg-icon src="../../../assets/images/auth/facebook.svg"></svg-icon>
                </a>
            </li>
            <li class="w-full px-2">
                <a href="javascript:void(0)"
                    class="flex h-11 items-center justify-center rounded-md bg-[#1C9CEA] hover:bg-opacity-90">
                    <svg-icon src="../../../assets/images/auth/twitter.svg"></svg-icon>
                </a>
            </li>
            <li class="w-full px-2">
                <a href="javascript:void(0)"
                    class="flex h-11 items-center justify-center rounded-md bg-[#D64937] hover:bg-opacity-90">
                    <svg-icon src="../../../assets/images/auth/google.svg"></svg-icon>
                </a>
            </li>
        </ul>
        <a href="javascript:void(0)"
            class="inline-block mb-2 hover:underline hover:text-primary-500">
            Forget Password?
        </a>
        <p>
            <span class="pr-0.5">Not a member yet?</span>
            <a [routerLink]="'/auth/sign-up'" class="text-primary-500 hover:underline">
                Sign Up
            </a>
        </p>
    </div>
</section>
<!-- ====== Forms Section End -->