/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./assets/stylesheets/scroll.scss";
@import "./assets/stylesheets/buttons.scss";
@import "./assets/stylesheets/typography.scss";

@font-face {
    font-family: "Inter-medium";
    src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
  }
  
 html,body {
   font-family: "Inter-medium", "sans-serif";
    height: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin: 0;
    @apply text-base;
    @apply text-gray-800;
    @apply dark:text-gray-200;
  }

  .form-input:focus{
  @apply border-primary-500;
}