button {
  display: flex;
  padding: 13px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 6px;
}

.btn-primary {
  @apply bg-primary-500;
}
.btn-secondary {
  @apply bg-secondary-500;
  border: 1px solid ;
}

.btn-text {
  border: none !important;
}
