
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(200, 200, 200);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-5;
    @apply dark:bg-gray-800;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-5;
    @apply dark:bg-gray-800;

  }